<!-- <ion-button (click)="closeModal()" slot="start">
    <ion-icon slot="icon-only" name="close"></ion-icon>
</ion-button> -->

<ion-button (click)="closeModal()">
  <ion-icon slot="start" name="arrow-round-back"></ion-icon>
  Back to editing
</ion-button>

<ion-content>

    <ion-row>
      <ion-col size="4" *ngFor="let sticker of stickersArray" (click)="onSelectedImage(sticker.url, sticker.id)">
        <img src="{{ sticker.url }}">
      </ion-col>
    </ion-row>

</ion-content>

<ion-toolbar>
  <ion-searchbar showCancelButton="focus" placeholder="Search stickers" animated= true (ionChange)="searchSticker($event)"></ion-searchbar>
</ion-toolbar>