<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Facebook
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-img class = "logoImg" text-center margin  src = "../../assets/images/logo.png"></ion-img>
  <ion-item  margin>
      <ion-label position="floating">Enter your number here...</ion-label>
      <ion-input [(ngModel)] = "mobile" text-center></ion-input>
    </ion-item>
  <ion-button margin expand="full" color="primary" (click)="fbLogin()">
    Login with
    <ion-icon name="logo-facebook"></ion-icon>
  </ion-button>
  <ion-button margin expand="full" color="danger" (click)="googleLogin()">
    Login with
    <ion-icon name="logo-google"></ion-icon>
  </ion-button>
</ion-content>

<ion-footer text-center>
  <ion-label>Made with <ion-icon color = "warning" name="heart-half"></ion-icon> in India</ion-label> 
</ion-footer>