// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@font-face {
  font-family: 'CaveatBold';
  src: url('../assets/fonts/Caveat-Bold.ttf');
}

@font-face {
  font-family: 'AbrilFatface-Regular';
  src: url('../assets/fonts/AbrilFatface-Regular.ttf');
}

@font-face {
  font-family: 'Alatsi-Regular';
  src: url('../assets/fonts/Alatsi-Regular.ttf');
}

@font-face {
  font-family: 'GloriaHallelujah-Regular';
  src: url('../assets/fonts/GloriaHallelujah-Regular.ttf');
}

@font-face {
  font-family: 'Hind-Bold';
  src: url('../assets/fonts/Hind-Bold.ttf');
}

@font-face {
  font-family: 'Hind-Light';
  src: url('../assets/fonts/Hind-Light.ttf');
}

@font-face {
  font-family: 'Hind-Medium';
  src: url('../assets/fonts/Hind-Medium.ttf');
}

@font-face {
  font-family: 'Hind-Regular';
  src: url('../assets/fonts/Hind-Regular.ttf');
}

@font-face {
  font-family: 'Hind-SemiBold';
  src: url('../assets/fonts/Hind-SemiBold.ttf');
}

@font-face {
  font-family: 'Kalam-Light';
  src: url('../assets/fonts/Kalam-Light.ttf');
}

@font-face {
  font-family: 'Kalam-Regular';
  src: url('../assets/fonts/Kalam-Regular.ttf');
}

@font-face {
  font-family: 'KaushanScript-Regular';
  src: url('../assets/fonts/KaushanScript-Regular.ttf');
}

@font-face {
  font-family: 'Khand-Bold';
  src: url('../assets/fonts/Khand-Bold.ttf');
}

@font-face {
  font-family: 'Khand-Light';
  src: url('../assets/fonts/Khand-Light.ttf');
}

@font-face {
  font-family: 'Khand-Medium';
  src: url('../assets/fonts/Khand-Medium.ttf');
}

@font-face {
  font-family: 'Martel-Black';
  src: url('../assets/fonts/Martel-Black.ttf');
}

@font-face {
  font-family: 'Martel-Bold';
  src: url('../assets/fonts/Martel-Bold.ttf');
}

@font-face {
  font-family: 'Martel-Regular';
  src: url('../assets/fonts/Martel-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../assets/fonts/Montserrat-Black.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url('../assets/fonts/Montserrat-Italic.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('../assets/fonts/Montserrat-MediumItalic.ttf');
}

@font-face {
  font-family: 'Mukta-Bold';
  src: url('../assets/fonts/Mukta-Bold.ttf');
}

@font-face {
  font-family: 'Mukta-ExtraBold';
  src: url('../assets/fonts/Mukta-ExtraBold.ttf');
}

@font-face {
  font-family: 'Mukta-Medium';
  src: url('../assets/fonts/Mukta-Medium.ttf');
}

@font-face {
  font-family: 'Mukta-Regular';
  src: url('../assets/fonts/Mukta-Regular.ttf');
}

@font-face {
  font-family: 'Nunito-Black';
  src: url('../assets/fonts/Nunito-Black.ttf');
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('../assets/fonts/Nunito-Bold.ttf');
}

@font-face {
  font-family: 'Nunito-BoldItalic';
  src: url('../assets/fonts/Nunito-BoldItalic.ttf');
}

@font-face {
  font-family: 'Nunito-ExtraLightItalic';
  src: url('../assets/fonts/Nunito-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'Nunito-LightItalic';
  src: url('../assets/fonts/Nunito-LightItalic.ttf');
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url('../assets/fonts/Nunito-SemiBold.ttf');
}

@font-face {
  font-family: 'Nunito-SemiBoldItalic';
  src: url('../assets/fonts/Nunito-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'PermanentMarker-Regular';
  src: url('../assets/fonts/PermanentMarker-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  src: url('../assets/fonts/Poppins-BoldItalic.ttf');
}

@font-face {
  font-family: 'Poppins-Italic';
  src: url('../assets/fonts/Poppins-Italic.ttf');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url('../assets/fonts/Poppins-Thin.ttf');
}

@font-face {
  font-family: 'PTSerif-Bold';
  src: url('../assets/fonts/PTSerif-Bold.ttf');
}


@font-face {
  font-family: 'PTSerif-BoldItalic';
  src: url('../assets/fonts/PTSerif-BoldItalic.ttf');
}

@font-face {
  font-family: 'PTSerif-Italic';
  src: url('../assets/fonts/PTSerif-Italic.ttf');
}

@font-face {
  font-family: 'PTSerif-Regular';
  src: url('../assets/fonts/PTSerif-Regular.ttf');
}

@font-face {
  font-family: 'Rajdhani-Medium';
  src: url('../assets/fonts/Rajdhani-Medium.ttf');
}

@font-face {
  font-family: 'Rajdhani-Regular';
  src: url('../assets/fonts/Rajdhani-Regular.ttf');
}

@font-face {
  font-family: 'Rajdhani-SemiBold';
  src: url('../assets/fonts/Rajdhani-SemiBold.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('../assets/fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('../assets/fonts/Roboto-LightItalic.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('../assets/fonts/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: 'Sacramento-Regular';
  src: url('../assets/fonts/Sacramento-Regular.ttf');
}

@font-face {
  font-family: 'Sarala-Bold';
  src: url('../assets/fonts/Sarala-Bold.ttf');
}

@font-face {
  font-family: 'Sarala-Regular';
  src: url('../assets/fonts/Sarala-Regular.ttf');
}

@font-face {
  font-family: 'Teko-Light';
  src: url('../assets/fonts/Teko-Light.ttf');
}

@font-face {
  font-family: 'Teko-Medium';
  src: url('../assets/fonts/Teko-Medium.ttf');
}

@font-face {
  font-family: 'Teko-Regular';
  src: url('../assets/fonts/Teko-Regular.ttf');
}

@font-face {
  font-family: 'Teko-SemiBold';
  src: url('../assets/fonts/Teko-SemiBold.ttf');
}
