<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Custom Editor</ion-title>
    <ion-buttons slot="secondary">
      <ion-button slot="end">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>

<ion-footer *ngIf="showToolbar" color="primary">
    <ion-row>
        <ion-col size-sm="4">
          <app-image-picker (imagePicked)=choosenImage($event)>
          </app-image-picker>
        </ion-col>
        <ion-col size-sm="4">
          <ion-tab-button (click) = selectSticker()>
            <ion-label>STICKER</ion-label>
            <ion-icon name="happy"></ion-icon>
          </ion-tab-button>
        </ion-col>
        <ion-col size-sm="4">
          <ion-tab-button (click)="onAddText()">
            <ion-label>TEXT</ion-label>
            <ion-icon name="list-box"></ion-icon>
          </ion-tab-button>
        </ion-col>
      </ion-row>
</ion-footer>

<ion-footer *ngIf="showImageToolBar">
  <div>
      <ion-title>Adjust Image Opacity</ion-title>
  </div>
  <ion-range min="0" max="1" step="0.1" (ionChange)="changeOpacity($event)">
    <ion-icon size="small" slot="start" name="sunny"></ion-icon>
    <ion-icon slot="end" name="sunny"></ion-icon>
  </ion-range>  
  <ion-row>
    <ion-col offset="4" size="2">
      <ion-button (click)="backToToolbar()" color="dark" size="small">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button (click)="deleteSelectedImage()" color="dark" fill="outline" size="small">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

<ion-footer *ngIf="showStickerToolBar">
    <ion-row>
      <ion-col offset="4" size="2">
        <ion-button (click)="backToToolbar()" color="dark" size="small">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="deleteSelectedSticker()" color="dark" fill="outline" size="small">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
</ion-footer>

    <ion-footer *ngIf="showTextToolbar">
      <div>
          <ion-title>Adjust Textbox Width</ion-title>
      </div>
      <ion-range min="10" max="100" step="5" (ionChange)="changeWidth($event)" value="50">
        <ion-icon size="small" slot="start" name="remove-circle"></ion-icon>
        <ion-icon slot="end" name="add-circle"></ion-icon>
      </ion-range>
      <div>
          <ion-title>Adjust Textbox Height</ion-title>
      </div>
      <ion-range min="1" max="10" step="1" (ionChange)="changeHeight($event)" value="1">
        <ion-icon size="small" slot="start" name="remove-circle"></ion-icon>
        <ion-icon slot="end" name="add-circle"></ion-icon>
      </ion-range>
      <ion-grid>
      <ion-row>
          <ion-col size-sm="2">
            <ion-button (click)="deleteSelectedTextArea()" color="dark" fill="outline" shape="round" class="custom-rounded-btn" size="small">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size-sm="2">
            <ion-button (click)="decrementTextSize()" [disabled]="disabledBtn" shape="round" size="small" color="dark"> 
              <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size-sm="4" align-self-center>
            <ion-text class="ion-text-center">{{ textAreaSize }} px</ion-text>
          </ion-col>
          <ion-col size-sm="2">
            <ion-button (click)="incrementTextSize()" shape="round" size="small" color="dark">
              <ion-icon slot="icon-only" name="add-circle"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size-sm="2">
            <ion-button (click)="checkmarkTextAreaSizeView()" color="dark" fill="outline" shape="round" size="small">
              <ion-icon slot="icon-only" name="checkmark"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>

<div id="example-boundary">
  <div #resizeBox class="container image" style="position: absolute;float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressImage($event,0)" [hidden]="imagediv">
    <span #dragHandleCorner [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle, corn]" cdkDrag
      (cdkDragMoved)="dragMove(dragHandleCorner, $event)"></span>
    <span #dragHandleRight cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove(dragHandleRight, $event)"></span>
    <span #dragHandleBottom cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove(dragHandleBottom, $event)"></span>
  </div>
  <div #resizeBox1 class="container image1" style="position: absolute;float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef1 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressImage($event,1)" [hidden]="imagediv1">
    <span #dragHandleCorner1 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle1, corn1]" cdkDrag
      (cdkDragMoved)="dragMove1(dragHandleCorner1, $event)"></span>
    <span #dragHandleRight1 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove1(dragHandleRight1, $event)"></span>
    <span #dragHandleBottom1 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove1(dragHandleBottom1, $event)"></span>
  </div>
  <div #resizeBox2 class="container image2" style="position: absolute;float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef2 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressImage($event,2)" [hidden]="imagediv2">
    <span #dragHandleCorner2 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle2, corn2]" cdkDrag
      (cdkDragMoved)="dragMove2(dragHandleCorner2, $event)"></span>
    <span #dragHandleRight2 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove2(dragHandleRight2, $event)"></span>
    <span #dragHandleBottom2 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove2(dragHandleBottom2, $event)"></span>
  </div>
  <div #resizeBox3 class="container image3" style="position: absolute;float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef3 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressImage($event,3)" [hidden]="imagediv3">
    <span #dragHandleCorner3 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle3, corn3]" cdkDrag
      (cdkDragMoved)="dragMove3(dragHandleCorner3, $event)"></span>
    <span #dragHandleRight3 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove3(dragHandleRight3, $event)"></span>
    <span #dragHandleBottom3 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove3(dragHandleBottom3, $event)"></span>
  </div>
  <div #resizeBox4 class="container image4" style="position: absolute;float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef4 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressImage($event,4)" [hidden]="imagediv4">
    <span #dragHandleCorner4 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle4, corn4]" cdkDrag
      (cdkDragMoved)="dragMove4(dragHandleCorner4, $event)"></span>
    <span #dragHandleRight4 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove4(dragHandleRight4, $event)"></span>
    <span #dragHandleBottom4 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove4(dragHandleBottom4, $event)"></span>
  </div>

  <div #resizeBox5 class="container image5" style="position: absolute;float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef5 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressImage($event,5)" [hidden]="imagediv5">
    <span #dragHandleCorner5 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle5, corn5]" cdkDrag
      (cdkDragMoved)="dragMove5(dragHandleCorner5, $event)"></span>
    <span #dragHandleRight5 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove5(dragHandleRight5, $event)"></span>
    <span #dragHandleBottom5 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove5(dragHandleBottom5, $event)"></span>
  </div>

  <div #resizeBox6 class="container image6" style="position: absolute;float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef6 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressImage($event,6)" [hidden]="imagediv6">
    <span #dragHandleCorner6 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle6, corn6]" cdkDrag
      (cdkDragMoved)="dragMove6(dragHandleCorner6, $event)"></span>
    <span #dragHandleRight6 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove6(dragHandleRight6, $event)"></span>
    <span #dragHandleBottom6 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove6(dragHandleBottom6, $event)"></span>
  </div>

  <div #resizeBox7 class="container image7" style="position: absolute;float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef7 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressImage($event,7)" [hidden]="imagediv7">
    <span #dragHandleCorner7 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle7, corn7]" cdkDrag
      (cdkDragMoved)="dragMove7(dragHandleCorner7, $event)"></span>
    <span #dragHandleRight7 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove7(dragHandleRight7, $event)"></span>
    <span #dragHandleBottom7 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove7(dragHandleBottom7, $event)"></span>
  </div>

  <!-- Dynamically adding text Area div's -->

  <div class="textArea" style="position: absolute;" id="textBackProp8" cdkDrag cdkDragBoundary="#example-boundary" #inputText8 (press)="onLongPressTextArea($event,8)" [hidden]="textareadiv8">
    
  </div>
  <div class="textArea" style="position: absolute;" id="textBackProp7" cdkDrag cdkDragBoundary="#example-boundary" #inputText7 (press)="onLongPressTextArea($event,7)" [hidden]="textareadiv7">
      
  </div>
  <div class="textArea" style="position: absolute;" id="textBackProp6" cdkDrag cdkDragBoundary="#example-boundary" #inputText6 (press)="onLongPressTextArea($event,6)" [hidden]="textareadiv6">
      
  </div>
  <div class="textArea" style="position: absolute;" id="textBackProp5" cdkDrag cdkDragBoundary="#example-boundary" #inputText5 (press)="onLongPressTextArea($event,5)" [hidden]="textareadiv5">
    
  </div>
  <div class="textArea" style="position: absolute;" id="textBackProp4" cdkDrag cdkDragBoundary="#example-boundary" #inputText4 (press)="onLongPressTextArea($event,4)" [hidden]="textareadiv4">
    
  </div>
  <div class="textArea" style="position: absolute;" id="textBackProp3" cdkDrag cdkDragBoundary="#example-boundary" #inputText3 (press)="onLongPressTextArea($event,3)" [hidden]="textareadiv3">
    
  </div>
  <div class="textArea" style="position: absolute;" id="textBackProp2" cdkDrag cdkDragBoundary="#example-boundary" #inputText2 (press)="onLongPressTextArea($event,2)" [hidden]="textareadiv2">
    
  </div>
  <div class="textArea" style="position: absolute;" id="textBackProp1" cdkDrag cdkDragBoundary="#example-boundary" #inputText1 (press)="onLongPressTextArea($event,1)" [hidden]="textareadiv1">
    
  </div>

  <!-- Dynamically added sticker -->

  <div #resizeBox9 class="container" style="position: absolute; float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef9 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressSticker($event,9)" [hidden]="stickerdiv9">
    <span #dragHandleCorner9 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle9, corn9]" cdkDrag
      (cdkDragMoved)="dragMove9(dragHandleCorner9, $event)"></span>
    <span #dragHandleRight9 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove9(dragHandleRight9, $event)"></span>
    <span #dragHandleBottom9 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove9(dragHandleBottom9, $event)"></span>
  </div>

  <div #resizeBox10 class="container" style="position: absolute; float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef10 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressSticker($event,10)" [hidden]="stickerdiv10">
    <span #dragHandleCorner10 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle10, corn10]" cdkDrag
      (cdkDragMoved)="dragMove10(dragHandleCorner10, $event)"></span>
    <span #dragHandleRight10 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove10(dragHandleRight10, $event)"></span>
    <span #dragHandleBottom10 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove10(dragHandleBottom10, $event)"></span>
  </div>

  <div #resizeBox11 class="container" style="position: absolute; float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef11 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressSticker($event,11)" [hidden]="stickerdiv11">
    <span #dragHandleCorner11 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle11, corn11]" cdkDrag
      (cdkDragMoved)="dragMove11(dragHandleCorner11, $event)"></span>
    <span #dragHandleRight11 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove11(dragHandleRight11, $event)"></span>
    <span #dragHandleBottom11 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove11(dragHandleBottom11, $event)"></span>
  </div>

  <div #resizeBox12 class="container" style="position: absolute; float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef12 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressSticker($event,12)" [hidden]="stickerdiv12">
    <span #dragHandleCorner12 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle12, corn12]" cdkDrag
      (cdkDragMoved)="dragMove12(dragHandleCorner12, $event)"></span>
    <span #dragHandleRight12 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove12(dragHandleRight12, $event)"></span>
    <span #dragHandleBottom12 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove12(dragHandleBottom12, $event)"></span>
  </div>

  <div #resizeBox13 class="container" style="position: absolute; float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef13 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressSticker($event,13)" [hidden]="stickerdiv13">
    <span #dragHandleCorner13 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle13, corn13]" cdkDrag
      (cdkDragMoved)="dragMove13(dragHandleCorner13, $event)"></span>
    <span #dragHandleRight13 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove13(dragHandleRight13, $event)"></span>
    <span #dragHandleBottom13 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove13(dragHandleBottom13, $event)"></span>
  </div>

  <div #resizeBox14 class="container" style="position: absolute; float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef14 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressSticker($event,14)" [hidden]="stickerdiv14">
    <span #dragHandleCorner14 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle14, corn14]" cdkDrag
      (cdkDragMoved)="dragMove14(dragHandleCorner14, $event)"></span>
    <span #dragHandleRight14 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove14(dragHandleRight14, $event)"></span>
    <span #dragHandleBottom14 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove14(dragHandleBottom14, $event)"></span>
  </div>

  <div #resizeBox15 class="container" style="position: absolute; float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef15 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressSticker($event,15)" [hidden]="stickerdiv15">
    <span #dragHandleCorner15 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle15, corn15]" cdkDrag
      (cdkDragMoved)="dragMove15(dragHandleCorner15, $event)"></span>
    <span #dragHandleRight15 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove15(dragHandleRight15, $event)"></span>
    <span #dragHandleBottom15 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove15(dragHandleBottom15, $event)"></span>
  </div>

  <div #resizeBox16 class="container" style="position: absolute; float: left;" [style.width.px]="width"
    [style.height.px]="height" #elementRef16 cdkDrag cdkDragBoundary="#example-boundary" (press)="onLongPressSticker($event,16)" [hidden]="stickerdiv16">
    <span #dragHandleCorner16 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle16, corn16]" cdkDrag
      (cdkDragMoved)="dragMove16(dragHandleCorner16, $event)"></span>
    <span #dragHandleRight16 cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove16(dragHandleRight16, $event)"></span>
    <span #dragHandleBottom16 cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove16(dragHandleBottom16, $event)"></span>
  </div>

</div>

