<ion-header>
  <ion-toolbar>
    <ion-title>Edit-Page</ion-title>
    <ion-buttons slot="secondary">
      <ion-button slot="end">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- <ion-range min="0" max="1" step="0.1" (ionChange)="changeOpacity($event)">
    <ion-icon size="small" slot="start" name="sunny"></ion-icon>
    <ion-icon slot="end" name="sunny"></ion-icon>
  </ion-range> -->

</ion-content>
<ion-tabs *ngIf="showToolbar; else option">
  <ion-tab-bar slot="bottom">
    <ion-row>
      <ion-col size-sm="4">
        <app-image-picker (imagePicked)=choosenImage($event)>
        </app-image-picker>
      </ion-col>
      <ion-col size-sm="4">
        <ion-tab-button (click) = selectSticker()>
          <ion-label>STICKER</ion-label>
          <ion-icon name="add"></ion-icon>
        </ion-tab-button>
      </ion-col>
      <ion-col size-sm="4">
        <ion-tab-button (click)="onAddText()">
          <ion-label>TEXT</ion-label>
          <ion-icon name="add"></ion-icon>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-tab-bar>
</ion-tabs>

<ng-template #option>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-row>
        <ion-col size-sm="2">
          <ion-button (click)="deleteSelectedTextArea()" color="danger" fill="outline">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size-sm="4">
          <ion-button (click)="decrementTextSize()"> 
            <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size-sm="2">
          <p>{{ textAreaSize }} px</p>
        </ion-col>
        <ion-col size-sm="2">
          <ion-button (click)="incrementTextSize()">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size-sm="2">
          <ion-button (click)="checkmarkTextAreaSizeView()" color="success" fill="outline">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-tab-bar>
  </ion-tabs>
</ng-template>
<!-- <ion-button (click)="createElement()" expand="full">Testing</ion-button> -->
<div id="example-boundary">
  <div #resizeBox class="container image" style="position: relative;border-radius: 50%;" [style.width.px]="width"
    [style.height.px]="height" #elementRef cdkDrag cdkDragBoundary="#example-boundary">
    <span #dragHandleCorner [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle, corn]" cdkDrag
      (cdkDragMoved)="dragMove(dragHandleCorner, $event)"></span>
    <span #dragHandleRight cdkDragLockAxis="x" class="dragHandle right" cdkDrag
      (cdkDragMoved)="dragMove(dragHandleRight, $event)"></span>
    <span #dragHandleBottom cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag
      (cdkDragMoved)="dragMove(dragHandleBottom, $event)"></span>
  </div>
  <div #resizeBox1 class="container image" style="position: relative;" [style.width.px]="width"
    [style.height.px]="height" #elementRef1 cdkDrag cdkDragBoundary="#example-boundary">
    <span #dragHandleCorner1 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle1, corn1]" cdkDrag
      (cdkDragMoved)="dragMove1(dragHandleCorner1, $event)"></span>
    <span #dragHandleRight1 cdkDragLockAxis="x" class="dragHandle1 right" cdkDrag
      (cdkDragMoved)="dragMove1(dragHandleRight1, $event)"></span>
    <span #dragHandleBottom1 cdkDragLockAxis="y" class="dragHandle1 bottom" cdkDrag
      (cdkDragMoved)="dragMove1(dragHandleBottom1, $event)"></span>
  </div>
  <div #resizeBox2 class="container image" style="position: relative;" [style.width.px]="width"
    [style.height.px]="height" #elementRef2 cdkDrag cdkDragBoundary="#example-boundary">
    <span #dragHandleCorner2 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle2, corn2]" cdkDrag
      (cdkDragMoved)="dragMove2(dragHandleCorner2, $event)"></span>
    <span #dragHandleRight2 cdkDragLockAxis="x" class="dragHandle2 right" cdkDrag
      (cdkDragMoved)="dragMove2(dragHandleRight2, $event)"></span>
    <span #dragHandleBottom2 cdkDragLockAxis="y" class="dragHandle2 bottom" cdkDrag
      (cdkDragMoved)="dragMove2(dragHandleBottom2, $event)"></span>
  </div>
  <div #resizeBox3 class="container image" style="position: relative;" [style.width.px]="width"
    [style.height.px]="height" #elementRef3 cdkDrag cdkDragBoundary="#example-boundary">
    <span #dragHandleCorner3 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle3, corn3]" cdkDrag
      (cdkDragMoved)="dragMove3(dragHandleCorner3, $event)"></span>
    <span #dragHandleRight3 cdkDragLockAxis="x" class="dragHandle3 right" cdkDrag
      (cdkDragMoved)="dragMove3(dragHandleRight3, $event)"></span>
    <span #dragHandleBottom3 cdkDragLockAxis="y" class="dragHandle3 bottom" cdkDrag
      (cdkDragMoved)="dragMove3(dragHandleBottom3, $event)"></span>
  </div>
  <div #resizeBox4 class="container image" style="position: relative;" [style.width.px]="width"
    [style.height.px]="height" #elementRef4 cdkDrag cdkDragBoundary="#example-boundary">
    <span #dragHandleCorner4 [cdkDragLockAxis]="lockAxis" [ngClass]="[drHandle4, corn4]" cdkDrag
      (cdkDragMoved)="dragMove4(dragHandleCorner4, $event)"></span>
    <span #dragHandleRight4 cdkDragLockAxis="x" class="dragHandle4 right" cdkDrag
      (cdkDragMoved)="dragMove4(dragHandleRight4, $event)"></span>
    <span #dragHandleBottom4 cdkDragLockAxis="y" class="dragHandle4 bottom" cdkDrag
      (cdkDragMoved)="dragMove4(dragHandleBottom4, $event)"></span>
  </div>

  <!-- Dynamically adding text Area div's -->

  <div class="textArea backprop8" cdkDrag cdkDragBoundary="#example-boundary" #inputText8 (press)="onLongPressTextArea($event,8)">
    
  </div>
  <div class="textArea backprop7" cdkDrag cdkDragBoundary="#example-boundary" #inputText7 (press)="onLongPressTextArea($event,7)">
      
  </div>
  <div class="textArea backprop6" cdkDrag cdkDragBoundary="#example-boundary" #inputText6 (press)="onLongPressTextArea($event,6)">
      
  </div>
  <div class="textArea backprop5" cdkDrag cdkDragBoundary="#example-boundary" #inputText5 (press)="onLongPressTextArea($event,5)">
    
  </div>
  <div class="textArea backprop4" cdkDrag cdkDragBoundary="#example-boundary" #inputText4 (press)="onLongPressTextArea($event,4)">
    
  </div>
  <div class="textArea backprop3" cdkDrag cdkDragBoundary="#example-boundary" #inputText3 (press)="onLongPressTextArea($event,3)">
    
  </div>
  <div class="textArea backprop2" cdkDrag cdkDragBoundary="#example-boundary" #inputText2 (press)="onLongPressTextArea($event,2)">
    
  </div>
  <div class="textArea backprop1" cdkDrag cdkDragBoundary="#example-boundary" #inputText1 (press)="onLongPressTextArea($event,1)">
    
  </div>

</div>