
.image, .image1, .image2, .image3, .image4, .image5, .image6, .image7 {
    opacity: 1;
    height: 80px;
    width: 80px;
}  

  #example-boundary {
    // width: 400px;
    // height: 400px;
    max-width: 100%;
    border: dotted #ccc 2px;
    position: fixed;
    // top: 56px;
    // margin-top: 100px;
  }

  .container {
  position: relative;
  background-color: transparent;
}

.full {
  width: 100%;
  background: yellow;
}

.dragHandle {
  position: absolute;
  // background-color: green;
}

// #exportimg{
//   margin-top: -200px !important;
// }
// .dragHandle.corner {
//   width: 6px;
//   height: 6px;
//   cursor: nwse-resize;
// }

.dragHandle.corner {
  width: 16px;
  height: 16px;
  background: url("../../../assets/icon/resize.png");
  background-position: center !important;
  cursor: nwse-resize;
}

.dragHandle.right {
  height: 100%;
  cursor: ew-resize;
}

.dragHandle.bottom {
  width: 100%;
  cursor: ns-resize;
}

.textBox {
  font-size: 10px;
}

.textArea {
  width: 50%;
  position: relative;
  float: left;
  // padding: 0 !important;
  // margin: 0 !important;
}

ion-textarea{
  margin:0 !important;
  textarea.native-textarea{
    padding: 0 !important;
  }
}
// ion-textarea{
//   padding: 0 !important;
//   margin:0 !important;
//   textarea.native-textarea{
//     padding: 0 !important;
//     margin:0 !important;
//   }
// }

.textArea ion-item {
  --background: transparent;
}


// .custom-rounded-btn{
//   width: 30px;
//   height: 30px;
//   border-radius: 50%;
// }

ion-footer{
  div{
    padding-top: 10px;
    text-align: center;
  }
  ion-title{
    font-size: 12px;
  }
}

ion-range{
  --knob-background: #000000;
  --knob-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  // --knob-size: 20px;
  --bar-background: #000000;
  padding-top: 0;
  padding-bottom: 0;
}
