.image {
    opacity: 1;
    height: 80px;
    width: 80px;
}  
  #example-boundary {
    width: 400px;
    height: 400px;
    max-width: 100%;
    border: dotted #ccc 2px;
  }

  .container {
  position: relative;
  background-color: transparent;
}

.full {
  width: 100%;
  background: yellow;
}

.dragHandle {
  position: absolute;
  background-color: red;
}

.dragHandle.corner {
  width: 5px;
  height: 5px;
  // position: absolute;
  // cursor: nwse-resize;
}

.dragHandle.right {
  height: 100%;
  cursor: ew-resize;
}

.dragHandle.bottom {
  width: 100%;
  cursor: ns-resize;
}

.dragHandle1 {
  position: absolute;
  background-color: green;
}

.dragHandle1.corner {
  width: 5px;
  height: 5px;
  cursor: nwse-resize;
}

.dragHandle1.right {
  height: 100%;
  cursor: ew-resize;
}

.dragHandle1.bottom {
  width: 100%;
  cursor: ns-resize;
}

.textBox {
  font-size: 10px;
}

.textArea {
  width: 50%;
  background: transparent;
}